
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/* Body styling */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1e1e2f;
}

/* Title */

h2 {
  color: rgb(139, 165, 236);
  margin-bottom: 20px;
  text-align: center;
  font-family:  Geneva, Verdana, sans-serif;
}
/* Screen */
.screen{
    margin: 2%;
    margin-bottom: 1em;
    background-color: #bebecc;
    ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Calculator container */
div {
  background: #2c2c44;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  margin: 5%;
}

/* Rows */
.btn {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0;
}

/* Buttons */
.btn li {
  width: 15vw;
  min-height: 5vh;
  margin: 5px;
  border: 2px solid  #b6b6ca;

  background: #4a4a6a;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;

  border-radius: 12px;
  cursor: pointer;

  transition: all 0.2s ease;
}

/* Hover effect */
.btn li:hover {
  background: #6a6aff;
  transform: scale(1.05);
}

/* Click effect */
.btn li:active {
  transform: scale(0.95);
  background: #3a3aff;
}
